<h3>Arrays con funciones principales</h3>
<p>Inspecciona la consola del navegaodr:</p>
<br><br>

<h3>Caso aplicativo Unión de Tipos:</h3>
<h4>Procesamiento de valor:</h4>
<div>
  <p>Valor actual: {{ miValor }}</p>
  <p>Valor procesado: {{ procesarValor(miValor) }}</p>
</div>

<h4>Caso aplicativo de enumeración:</h4>
<div>
  <!--No logro sacar correctamente el día que yo introduzco-->
  <!--<p>Día de hoy: {{DiasSemana[diaHoy]}}</p><br>-->
  <button (click)="procesarDia()">Procesar día</button>
  {{respuesta}}

</div>
